# Airbnb Madrid

1. Extraer del fichero de alojamientos una lista con todos los alojamientos, donde cada alojamiento sea un diccionario que contenga el identificador del alojamiento, el identificador del anfitrión, el distrito, el precio y las plazas.

In [50]:
import pandas as pd 

try:
    f = open('madridairbnb.csv', encoding='utf-8')
except FileNotFoundError:
    print('El fichero no existe.')
else:
    lineas = f.readlines()
    f.close()
    columnas = lineas[0].split('\t')
    seleccion = ['id', 'host_id', 'neighbourhood_group_cleansed', 'accommodates', 'price']
    traduccion = {'id':'id', 'host_id':'anfitrion', 'neighbourhood_group_cleansed':'distrito', 'accommodates':'plazas', 'price':'precio'}
    alojamientos = []
    for linea in lineas[1:]:
        alojamiento = {}
        campos = linea.split('\t')
        for i in range(len(columnas)):
            if columnas[i] in seleccion:
                alojamiento[traduccion[columnas[i]]] = campos[i]
        alojamientos.append(alojamiento)

    df_alojamientos = pd.DataFrame(alojamientos)
df_alojamientos

          id anfitrion    distrito plazas   precio
0       6369     13660   Chamartín      2   $70.00
1      21853     83531      Latina      1   $17.00
2      24805    101471      Centro      3   $80.00
3      24836    101653      Centro      4  $115.00
4      26825    114340  Arganzuela      1   $25.00
..       ...       ...         ...    ...      ...
995  2686592  13751801      Centro      1   $21.00
996  2701211   1650712   Salamanca      4  $165.00
997  2704499  13841663      Centro      3   $85.00
998  2706194   1843216      Centro      4   $69.00
999  2707743   5542111      Centro      5   $67.00

[1000 rows x 5 columns]

2. Crear una función que reciba la lista de alojamientos y devuelva el número de alojamientos en cada distrito.

In [51]:
def alojamientos_distritos(df_alojamientos):

    # Utilizamos value_counts para contar los alojamientos en cada distrito.
    alojamiento_distritos = df_alojamientos['distrito'].value_counts().to_dict()

    # Convertimos el diccionario a DataFrame
    df_alojamiento_distritos = pd.DataFrame(list(alojamiento_distritos.items()), columns=['Distrito', 'Número de alojamientos'])

    return df_alojamiento_distritos

# Ejemplo
alojamientos_distritos(df_alojamientos)

                 Distrito  Número de alojamientos
0                  Centro                     618
1                Chamberí                      69
2               Salamanca                      51
3              Arganzuela                      44
4                  Retiro                      35
5           Ciudad Lineal                      23
6               Chamartín                      22
7                  Tetuán                      19
8                  Latina                      19
9       Moncloa - Aravaca                      18
10            Carabanchel                      14
11  San Blas - Canillejas                      14
12              Hortaleza                      12
13     Puente de Vallecas                      11
14                Barajas                       6
15             Villaverde                       5
16  Fuencarral - El Pardo                       5
17      Villa de Vallecas                       5
18                  Usera                       5
19              Moratalaz                       4
20              Vicálvaro                       1

3. Crear una función que reciba la lista de alojamientos y un número de ocupantes y devuelva la lista de alojamientos con un número de plazas mayor o igual que el número de ocupantes.

In [52]:
def filtrar_plazas(df_alojamientos, plazas):

    # Asegurándonos de que 'plazas' es un entero
    df_alojamientos['plazas'] = df_alojamientos['plazas'].astype(int)

    # Con query
    return df_alojamientos.query('plazas >= @plazas')

# Ejemplo
filtro = filtrar_plazas(df_alojamientos, 10)
filtro

          id anfitrion           distrito  plazas   precio
81    256004   1732442             Centro      12   $80.00
89    264054   1370007             Centro      12  $480.00
215   536574    447969         Arganzuela      10   $70.00
295   685152   3494012          Hortaleza      12  $155.00
297   688795   1732442             Centro      10   $75.00
341   745728   3797913             Centro      12  $250.00
371   773861   1732442             Centro      12   $75.00
406   834562   4365768            Barajas      10  $110.00
509   970485   5302455             Retiro      16  $350.00
537  1044902   5751753  Moncloa - Aravaca      16   $85.00
848  1980372   1732442             Centro      11   $75.00
880  2099314  10651006             Centro      10   $99.00
893  2143824  10940437             Centro      10   $20.00
938  2355655  12028707             Centro      10  $300.00

4. Crear una función que reciba la lista de alojamientos un distrito, y devuelva los 10 alojamientos más baratos del distrito.

In [53]:
def alojamientos_baratos(df_alojamientos, distrito, n):

    # Asegurándonos de que 'precio' es un número flotante (debemos quitar el símbolo de la moneda si está presente)
    df_alojamientos['precio'] = df_alojamientos['precio'].replace('[\$,]', '', regex=True).astype(float)

    # Filtramos los alojamientos del distrito y los ordenamos por precio
    df_alojamientos_baratos = df_alojamientos[df_alojamientos['distrito'] == distrito].sort_values('precio')

    # Devolvemos los n primeros alojamientos
    return df_alojamientos_baratos.head(n)

# Ejemplo
top_arganzuela = alojamientos_baratos(df_alojamientos, 'Arganzuela', 10)
top_arganzuela

          id anfitrion    distrito  plazas  precio
829  1890985   5675916  Arganzuela       2    18.0
474   896291   4778528  Arganzuela       2    19.0
216   537234   2638528  Arganzuela       1    22.0
299   691344    655088  Arganzuela       1    23.0
136   375472   1888816  Arganzuela       2    24.0
451   883037   4674072  Arganzuela       1    24.0
344   748854   1888816  Arganzuela       1    24.0
4      26825    114340  Arganzuela       1    25.0
715  1592439   4043145  Arganzuela       1    25.0
257   605697   2999728  Arganzuela       2    25.0

5. Crear una función que reciba la lista de alojamientos y devuelva un diccionario con los anfitriones y el número de alojamientos que posee cada uno.

In [54]:
def alojamientos_anfitriones(df_alojamientos):

    # Utilizamos value_counts para contar los alojamientos de cada anfitrión
    alojamiento_anfitriones = df_alojamientos['anfitrion'].value_counts().to_frame()

    return alojamiento_anfitriones

# Ejemplo
anfitriones = alojamientos_anfitriones(df_alojamientos)
anfitriones

           count
anfitrion
1408525       15
534128        12
5542111       12
596469         8
4735460        7
...          ...
4012290        1
4032439        1
4036376        1
4053105        1
13841663       1

[713 rows x 1 columns]

6.Preprocesar el fichero de alojamientos para crear un data frame con las variables id, host_id, listing_url, room_type, neighbourhood_group_cleansed, price, cleaning_fee, accommodates, minimum_nights, minimum_cost, review_scores_rating, latitude, longitude, is_location_exact. Eliminar del data frame cualquier fila incompleta. Añadir al data frame nuevas variables con el coste mínimo por noche y por persona (que incluya los gastos de limpieza).

In [55]:
df_alojamientos

          id anfitrion    distrito  plazas  precio
0       6369     13660   Chamartín       2    70.0
1      21853     83531      Latina       1    17.0
2      24805    101471      Centro       3    80.0
3      24836    101653      Centro       4   115.0
4      26825    114340  Arganzuela       1    25.0
..       ...       ...         ...     ...     ...
995  2686592  13751801      Centro       1    21.0
996  2701211   1650712   Salamanca       4   165.0
997  2704499  13841663      Centro       3    85.0
998  2706194   1843216      Centro       4    69.0
999  2707743   5542111      Centro       5    67.0

[1000 rows x 5 columns]

In [56]:
import pandas as pd


alojamientos = pd.read_csv('madridairbnb.csv', sep='\t')


column_names = {
    'host_id': 'anfitrion',
    'listing_url': 'url',
    'room_type': 'tipo_alojamiento',
    'neighbourhood_group_cleansed': 'distrito',
    'price': 'precio',
    'cleaning_fee': 'gastos_limpieza',
    'accommodates': 'plazas',
    'minimum_nights': 'noches_minimas',
    'review_scores_rating': 'puntuacion'
}
alojamientos.rename(columns=column_names, inplace=True)


selected_columns = ['id', 'anfitrion', 'url', 'tipo_alojamiento', 'distrito', 'precio', 'gastos_limpieza', 'plazas', 'noches_minimas', 'puntuacion']
alojamientos = alojamientos[selected_columns]


alojamientos = alojamientos.dropna()


alojamientos['precio'] = alojamientos['precio'].str.replace(',', '').str[1:].astype(float)
alojamientos['gastos_limpieza'] = alojamientos['gastos_limpieza'].str[1:].astype(float)

alojamientos['precio_persona'] = (alojamientos['precio'] * alojamientos['noches_minimas'] + alojamientos['gastos_limpieza']) / (alojamientos['noches_minimas'] + alojamientos['plazas'])


print(alojamientos)

          id  anfitrion                                   url
0       6369      13660     https://www.airbnb.com/rooms/6369  \
2      24805     101471    https://www.airbnb.com/rooms/24805
3      24836     101653    https://www.airbnb.com/rooms/24836
4      26825     114340    https://www.airbnb.com/rooms/26825
9      62423     303845    https://www.airbnb.com/rooms/62423
..       ...        ...                                   ...
995  2686592   13751801  https://www.airbnb.com/rooms/2686592
996  2701211    1650712  https://www.airbnb.com/rooms/2701211
997  2704499   13841663  https://www.airbnb.com/rooms/2704499
998  2706194    1843216  https://www.airbnb.com/rooms/2706194
999  2707743    5542111  https://www.airbnb.com/rooms/2707743

    tipo_alojamiento    distrito  precio  gastos_limpieza  plazas
0       Private room   Chamartín    70.0              5.0       2  \
2    Entire home/apt      Centro    80.0             30.0       3
3    Entire home/apt      Centro   115.0              0.0       4
4       Private room  Arganzuela    25.0             15.0       1
9       Private room      Centro    45.0             22.0       3
..               ...         ...     ...              ...     ...
995     Private room      Centro    21.0             10.0       1
996  Entire home/apt   Salamanca   165.0             70.0       4
997  Entire home/apt      Centro    85.0             20.0       3
998  Entire home/apt      Centro    69.0             30.0       4
999  Entire home/apt      Centro    67.0             39.0       5

     noches_minimas  puntuacion  precio_persona
0                 1        98.0       25.000000
2                 5       100.0       53.750000
3                 3        98.0       49.285714
4                 2        94.0       21.666667
9                 1        90.0       16.750000
..              ...         ...             ...
995              20        83.0       20.476190
996               3        84.0       80.714286
997               2       100.0       38.000000
998               4        94.0       38.250000
999               1        86.0       17.666667

[806 rows x 11 columns]

7.Crear una función que reciba una lista de distritos y devuelva un diccionario con los tipos de alojamiento en ese distrito y el porcentaje de alojamientos de ese tipo.

In [57]:
def obtener_porcentaje_tipos_alojamiento(distritos):
    alojamientos_distritos = alojamientos[alojamientos['distrito'].isin(distritos)]

    conteo_tipos_alojamiento = alojamientos_distritos['tipo_alojamiento'].value_counts()

    porcentaje_tipos_alojamiento = (conteo_tipos_alojamiento / alojamientos_distritos.shape[0]) * 100

    diccionario_tipos_alojamiento = porcentaje_tipos_alojamiento.to_dict()

    return diccionario_tipos_alojamiento

distritos = ['Chamartín', 'Arganzuela', 'Centro']
resultado = obtener_porcentaje_tipos_alojamiento(distritos)
print(resultado)

{'Entire home/apt': 80.03472222222221, 'Private room': 17.881944444444446, 'Hotel room': 1.3888888888888888, 'Shared room': 0.6944444444444444}

8.Crear una función que reciba una lista de distritos y devuelva un diccionario con el número de alojamientos que cada anfitrión ofrece en esos distrito, ordenado de más a menos alojamientos.

In [58]:
def obtener_numero_alojamientos_por_anfitrion(distritos):
    alojamientos_distritos = alojamientos[alojamientos['distrito'].isin(distritos)]

    if alojamientos_distritos.empty:
        print("No se encontraron alojamientos en los distritos especificados.")
        return {}

    conteo_alojamientos_anfitrion = alojamientos_distritos['anfitrion'].value_counts()

    diccionario_numero_alojamientos = conteo_alojamientos_anfitrion.to_dict()

    diccionario_numero_alojamientos = dict(sorted(diccionario_numero_alojamientos.items(), key=lambda x: x[1], reverse=True))

    return diccionario_numero_alojamientos

obtener_numero_alojamientos_por_anfitrion(distritos)

{1408525: 14,
 5542111: 12,
 901218: 6,
 596469: 6,
 153391: 6,
 4839888: 6,
 2864064: 5,
 1732442: 5,
 2564339: 5,
 4599639: 5,
 3726732: 5,
 1095831: 4,
 2044655: 4,
 4068912: 4,
 4083688: 4,
 378073: 4,
 353738: 4,
 2991925: 4,
 10651006: 4,
 10940437: 4,
 845399: 4,
 3797913: 4,
 8705535: 4,
 12028707: 3,
 534128: 3,
 4190343: 3,
 2184051: 3,
 4975799: 3,
 2561320: 3,
 4361819: 3,
 1091014: 3,
 4211443: 3,
 4292037: 3,
 8647044: 3,
 3606346: 3,
 3048290: 3,
 4023064: 3,
 814490: 3,
 6072314: 3,
 927343: 3,
 605612: 3,
 877571: 3,
 6566447: 3,
 5795235: 3,
 364585: 2,
 850654: 2,
 852616: 2,
 7218465: 2,
 1470394: 2,
 2444553: 2,
 7033920: 2,
 7823688: 2,
 1331093: 2,
 4582755: 2,
 2541550: 2,
 2376101: 2,
 5500409: 2,
 13569734: 2,
 4305310: 2,
 762655: 2,
 499977: 2,
 606925: 2,
 1888816: 2,
 2847013: 2,
 8789737: 2,
 3983613: 2,
 4231218: 2,
 1496188: 2,
 1130651: 2,
 1522694: 2,
 4304796: 2,
 1714750: 2,
 1650712: 2,
 3898452: 2,
 805726: 2,
 2785251: 2,
 1713524: 2,
 2960080: 2,
 3017315: 2,
 3447304: 2,
 13742566: 2,
 1843216: 2,
 1791341: 2,
 8532170: 1,
 5790036: 1,
 1973600: 1,
 6818751: 1,
 8578326: 1,
 1766434: 1,
 8986611: 1,
 8983711: 1,
 8933508: 1,
 8879010: 1,
 8807899: 1,
 5870563: 1,
 8724268: 1,
 6271519: 1,
 6412103: 1,
 6270912: 1,
 6284734: 1,
 8631882: 1,
 8607668: 1,
 3540591: 1,
 1666293: 1,
 7751680: 1,
 6436336: 1,
 6816328: 1,
 7223907: 1,
 7170175: 1,
 7153063: 1,
 7062138: 1,
 3331390: 1,
 7049661: 1,
 6871745: 1,
 6944433: 1,
 6928584: 1,
 6282893: 1,
 6636854: 1,
 6598518: 1,
 2067969: 1,
 6774354: 1,
 6730063: 1,
 8996173: 1,
 7249376: 1,
 4790263: 1,
 6443996: 1,
 8385568: 1,
 8192639: 1,
 8130428: 1,
 8125749: 1,
 7850049: 1,
 6749419: 1,
 6483080: 1,
 7306349: 1,
 5633658: 1,
 7595958: 1,
 2741468: 1,
 7420783: 1,
 7395294: 1,
 7375454: 1,
 13660: 1,
 8276432: 1,
 9137401: 1,
 7739367: 1,
 12077356: 1,
 12027564: 1,
 2933277: 1,
 7331716: 1,
 4615520: 1,
 10037966: 1,
 8584829: 1,
 11650026: 1,
 5002446: 1,
 9145004: 1,
 11385250: 1,
 11479457: 1,
 11407661: 1,
 11342272: 1,
 11262545: 1,
 2662680: 1,
 11116174: 1,
 10974652: 1,
 12105600: 1,
 757672: 1,
 12183135: 1,
 12481365: 1,
 13751801: 1,
 13732037: 1,
 4294898: 1,
 13590063: 1,
 13513088: 1,
 13492658: 1,
 13474925: 1,
 13440901: 1,
 9757922: 1,
 845407: 1,
 4008643: 1,
 13097473: 1,
 1890653: 1,
 12791313: 1,
 5514970: 1,
 11824804: 1,
 12641432: 1,
 10916450: 1,
 927713: 1,
 2425848: 1,
 6152491: 1,
 9548677: 1,
 9699624: 1,
 9696587: 1,
 9644407: 1,
 9643400: 1,
 9597850: 1,
 3275902: 1,
 9551147: 1,
 9525646: 1,
 5883486: 1,
 9290112: 1,
 9277975: 1,
 9243583: 1,
 3488397: 1,
 9210324: 1,
 9172209: 1,
 5537924: 1,
 9738650: 1,
 9790541: 1,
 7649063: 1,
 5675916: 1,
 6564220: 1,
 10654623: 1,
 8447678: 1,
 10550853: 1,
 10516522: 1,
 10402340: 1,
 4618994: 1,
 10215430: 1,
 9250119: 1,
 7489861: 1,
 10189139: 1,
 1784424: 1,
 5149901: 1,
 9278712: 1,
 9940609: 1,
 82175: 1,
 1985408: 1,
 6191686: 1,
 1738341: 1,
 6119221: 1,
 2517520: 1,
 447969: 1,
 2619962: 1,
 2569497: 1,
 2613319: 1,
 1134989: 1,
 1652272: 1,
 1150912: 1,
 2538187: 1,
 2501740: 1,
 6075016: 1,
 2480913: 1,
 2467212: 1,
 2433045: 1,
 2367126: 1,
 2332600: 1,
 2307294: 1,
 2302267: 1,
 2296476: 1,
 2659070: 1,
 1284868: 1,
 2659765: 1,
 2713304: 1,
 655088: 1,
 1941314: 1,
 3466426: 1,
 3432379: 1,
 1375487: 1,
 3244793: 1,
 3290138: 1,
 3214130: 1,
 3141727: 1,
 3121587: 1,
 2773350: 1,
 2174652: 1,
 1567773: 1,
 2678039: 1,
 2267893: 1,
 2857508: 1,
 2779192: 1,
 2201302: 1,
 2134007: 1,
 2068619: 1,
 1370007: 1,
 1367452: 1,
 1174648: 1,
 1008659: 1,
 1004721: 1,
 967721: 1,
 816497: 1,
 723539: 1,
 632589: 1,
 574498: 1,
 534515: 1,
 487095: 1,
 259229: 1,
 368907: 1,
 391014: 1,
 303845: 1,
 114340: 1,
 101653: 1,
 1373873: 1,
 1406073: 1,
 2056009: 1,
 1466005: 1,
 1973909: 1,
 1981346: 1,
 1892467: 1,
 1868359: 1,
 1738846: 1,
 1703448: 1,
 1694537: 1,
 1722284: 1,
 1721158: 1,
 1714866: 1,
 1713427: 1,
 1716726: 1,
 1702905: 1,
 1598163: 1,
 1596220: 1,
 4677030: 1,
 1478367: 1,
 3544353: 1,
 3021792: 1,
 3648882: 1,
 5211661: 1,
 5132742: 1,
 101471: 1,
 5114074: 1,
 5084073: 1,
 5052379: 1,
 5031865: 1,
 4977367: 1,
 4974280: 1,
 1574604: 1,
 4860266: 1,
 4831338: 1,
 4826927: 1,
 4777959: 1,
 4762305: 1,
 4665174: 1,
 4710774: 1,
 4684397: 1,
 4722486: 1,
 5347216: 1,
 3917443: 1,
 4839698: 1,
 993166: 1,
 3612732: 1,
 5941001: 1,
 2228918: 1,
 5950981: 1,
 5918751: 1,
 5896428: 1,
 5869715: 1,
 2214378: 1,
 5824815: 1,
 571765: 1,
 5798033: 1,
 5759904: 1,
 5719307: 1,
 5528551: 1,
 5521269: 1,
 5343904: 1,
 4674072: 1,
 4628173: 1,
 3691303: 1,
 4112877: 1,
 4053105: 1,
 4036376: 1,
 4032439: 1,
 4012290: 1,
 2670977: 1,
 690223: 1,
 3961468: 1,
 3438657: 1,
 216570: 1,
 1625657: 1,
 1719263: 1,
 3771869: 1,
 1566057: 1,
 2172169: 1,
 3746437: 1,
 2555202: 1,
 1954334: 1,
 4069734: 1,
 4068975: 1,
 4504807: 1,
 4118311: 1,
 4312150: 1,
 2419618: 1,
 2668849: 1,
 3631892: 1,
 2456671: 1,
 584351: 1,
 4247556: 1,
 4424070: 1,
 2489796: 1,
 4410687: 1,
 4354906: 1,
 1341870: 1,
 4295642: 1,
 4286142: 1,
 4277536: 1,
 4180632: 1,
 4161237: 1,
 13841663: 1}

9. Crear una función que reciba devuelva un diccionario con el número medio de alojamientos por anfitrión de cada distrito.

In [59]:
def obtener_numero_medio_alojamientos_por_anfitrion():
    conteo_alojamientos_anfitrion = alojamientos['anfitrion'].value_counts()
    conteo_distritos_anfitrion = alojamientos.groupby('anfitrion')['distrito'].nunique()

    numero_medio_alojamientos_por_anfitrion = conteo_alojamientos_anfitrion / conteo_distritos_anfitrion

    diccionario_numero_medio_alojamientos = numero_medio_alojamientos_por_anfitrion.to_dict()

    return diccionario_numero_medio_alojamientos

10.Crear una función que reciba una lista de distritos y dibuje un diagrama de sectores con los porcentajes de tipos de alojamientos en esos distritos.

In [60]:
def dibujar_diagrama_sectores(distritos):
    alojamientos_filtrados = alojamientos[alojamientos['distrito'].isin(distritos)]
    conteo_tipos_alojamiento = alojamientos_filtrados['tipo_alojamiento'].value_counts()
    porcentajes = (conteo_tipos_alojamiento / conteo_tipos_alojamiento.sum()) * 100

    plt.figure(figsize=(8, 6))
    plt.pie(porcentajes, labels=porcentajes.index, autopct='%1.1f%%', startangle=90)
    plt.axis('equal')
    plt.title('Porcentaje de Tipos de Alojamiento por Distrito')
    plt.legend(loc='best')
    plt.show()