# Análisis de datos

In [11]:
import pandas as pd 

try:
    f = open('madridairbnb.csv', encoding='utf-8')
except FileNotFoundError:
    print('El fichero no existe.')
else:
    lineas = f.readlines()
    f.close()
    columnas = lineas[0].split('\t')
    seleccion = ['id', 'host_id', 'neighbourhood_group_cleansed', 'accommodates', 'price']
    traduccion = {'id':'id', 'host_id':'anfitrion', 'neighbourhood_group_cleansed':'distrito', 'accommodates':'plazas', 'price':'precio'}
    alojamientos = []
    for linea in lineas[1:]:
        alojamiento = {}
        campos = linea.split('\t')
        for i in range(len(columnas)):
            if columnas[i] in seleccion:
                alojamiento[traduccion[columnas[i]]] = campos[i]
        alojamientos.append(alojamiento)

    df_alojamientos = pd.DataFrame(alojamientos)
df_alojamientos

          id anfitrion    distrito plazas   precio
0       6369     13660   Chamartín      2   $70.00
1      21853     83531      Latina      1   $17.00
2      24805    101471      Centro      3   $80.00
3      24836    101653      Centro      4  $115.00
4      26825    114340  Arganzuela      1   $25.00
..       ...       ...         ...    ...      ...
995  2686592  13751801      Centro      1   $21.00
996  2701211   1650712   Salamanca      4  $165.00
997  2704499  13841663      Centro      3   $85.00
998  2706194   1843216      Centro      4   $69.00
999  2707743   5542111      Centro      5   $67.00

[1000 rows x 5 columns]